body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: black !important;
  color: white !important;
  padding: 20px;
}

.hero {
  background: blue !important;
  color: white !important;
  padding: 60px;
}

.box {
  background: yellow !important;
  padding: 20px;
  margin: 10px;
}
